@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 50px);
}

#logo {
    width: 400px;
}

nav {
    width: 100%;
    height: 50px;
    background: red;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav button {
    height: 35px;
    width: 70px;
    margin-right: 10px;
    border: none;
    border-radius: 35px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

